.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.cell.selected {
  background-color: rgba(161, 161, 61, 0.25);
}

.cell.has-black-pawn::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

.cell.has-white-pawn::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

.cell.has-black-pawn.selected::after {
  box-shadow: 0 0 0 3px black;
}

.cell.has-white-pawn.selected::after {
  box-shadow: 0 0 0 3px white;
}

.cell.last-move {
  background-color: rgba(200, 200, 79, 0.33);
  transition: background-color 0.3s ease;
}

.controls {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 600px) {
  .cell {
    width: 30px;
    height: 30px;
  }
}

.arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: orange;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  z-index: 5;
  cursor: pointer;
  opacity: 0.2;
  transition: opacity 0.2s;
  pointer-events: auto; /* flèche cliquable */
}

.arrow.visible {
  opacity: 1;
}

/* Positionnement autour de la cellule */

.arrow-E {
  top: 50%;
  left: 100%;
  transform: translateY(-50%) rotate(90deg);
}

.arrow-W {
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%) rotate(270deg);
}

.arrow-NE {
  top: -5%;
  left: 100%;
  transform: translate(-115%, -50%) rotate(30deg);
}

.arrow-NW {
  top: -5%;
  left: 0%;
  transform: translate(15%, -50%) rotate(330deg);
}

.arrow-SE {
  top: 105%;
  left: 100%;
  transform: translate(-115%, -50%) rotate(150deg);
}

.arrow-SW {
  top: 105%;
  left: 0%;
  transform: translate(15%, -50%) rotate(210deg);
}

.captured-pawns-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.captured-pawns-row {
  display: flex;
  justify-content: center;
  gap: 10px; /* espace entre les pions */
  margin: 10px 0;
}

.captured-pawns-row .pawn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px dashed #bbb;
}

.captured-pawns-row.black .pawn.filled {
  background-color: black;
  border: 2px solid #333;
}

.captured-pawns-row.white .pawn.filled {
  background-color: white;
  border: 2px solid #333;
}

.player-label {
  margin-top: 10px;
  font-size: 12px;
  color: #444;
  text-align: center;
}
