<div class="game-board">
  <div class="game-container">

    <!-- Adversaire -->
    <app-player-game-info [capturedPawns]="blackPawnsLost"
                          [player]="Player.WHITE"></app-player-game-info>

    <div (contextmenu)="onRightClick($event)" class="board">
      <div *ngFor="let row of board" class="row">
        <app-square (click)="selectCell(cell)"
                    (hoverDirection)="onHover($event)"
                    (moveDirection)="move($event)"
                    *ngFor="let cell of row"
                    [hoveredDirection]="hoveredDirection"
                    [inLastMovedPositions]="lastMovedPositions.includes(cell.position)"
                    [square]="cell"></app-square>
      </div>
    </div>

    <!-- Joueur -->
    <app-player-game-info [capturedPawns]="whitePawnsLost"
                          [player]="Player.BLACK"></app-player-game-info>
  </div>
  <div *ngIf="winner" class="winner-popup">
    <div class="popup-content">
      <p>{{ winner }} a gagné par mat contre {{ otherPlayer(winner) }}</p>
      <div class="player-icons">
        <div class="player-icon">⚫</div>
        <div class="vs-text">vs</div>
        <div class="player-icon">⚪</div>
      </div>
      <button (click)="restartGame()">Rejouer</button>
    </div>
  </div>
</div>
