
.cell {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}

.cell.has-black-pawn::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
}

.cell.has-white-pawn::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

.cell.has-black-pawn.selected::after {
  box-shadow: 0 0 0 3px black;
}

.cell.has-white-pawn.selected::after {
  box-shadow: 0 0 0 3px white;
}

.cell.selected {
  background-color: rgba(247, 255, 89, 0.94);
}

.cell.last-move {
  background-color: rgba(233, 255, 13, 0.68);
  transition: background-color 0.3s ease;
}

@media (max-width: 600px) {
  .cell {
    width: 30px;
    height: 30px;
  }
}

.arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: orange;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  z-index: 5;
  cursor: pointer;
  opacity: 0.2;
  transition: opacity 0.2s;
  pointer-events: auto; /* flèche cliquable */
}

.arrow.visible {
  opacity: 1;
}

/* Positionnement autour de la cellule */

.arrow-E {
  top: 50%;
  left: 100%;
  transform: translateY(-50%) rotate(90deg);
}

.arrow-W {
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%) rotate(270deg);
}

.arrow-NE {
  top: -5%;
  left: 100%;
  transform: translate(-115%, -50%) rotate(30deg);
}

.arrow-NW {
  top: -5%;
  left: 0%;
  transform: translate(15%, -50%) rotate(330deg);
}

.arrow-SE {
  top: 105%;
  left: 100%;
  transform: translate(-115%, -50%) rotate(150deg);
}

.arrow-SW {
  top: 105%;
  left: 0%;
  transform: translate(15%, -50%) rotate(210deg);
}
