<header class="toolbar">
  <button (click)="toggleMobileMenu()" aria-label="Example icon-button with menu icon"
          class="mobile-hamburger-menu" mat-icon-button>
    <mat-icon>menu</mat-icon>
    <span></span>
    <span></span>
    <span></span>
  </button>

  <img [alt]="applicationName" [src]="appLogo" class="logo">

  <span class="app-name"> {{ applicationName }} </span>

  <nav *ngIf="isMobileMenuOpen" class="mobile-menu">
    <ul>
      <li><a (click)="goToGame()" href="#">Jeu</a></li>
    </ul>
  </nav>

  <nav *ngIf="!isMobileMenuOpen" class="desktop-menu">
    <button (click)="goToGame()" class="toolbar-button">Jeu</button>
  </nav>


  <div *ngIf="isLoggedIn" class="user-menu-container">
    <button (click)="toggleUserMenu()" aria-label="Example icon-button with menu icon"
            class="user-icon"
            mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <nav *ngIf="isUserMenuOpen" class="user-menu">
      <ul>
        <li>
          <div>Mon Profil</div>
        </li>
        <li>
          <div (click)="goToGame()">Jeu</div>
        </li>
        <li>
          <div (click)="logout()">Déconnexion</div>
        </li>
      </ul>
    </nav>
  </div>
</header>
